* @Shubhamjamliya

/.github/ @Shubhamjamliya
/scripts/ @Shubhamjamliya
/Backend/package.json @Shubhamjamliya
/Backend/package-lock.json @Shubhamjamliya
/Frontend/package.json @Shubhamjamliya
/Frontend/package-lock.json @Shubhamjamliya
/.gitignore @Shubhamjamliya
